*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(121deg,rgb(0, 0, 0),#151515 61%);
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 2.5rem;
    overflow: hidden;
}

.calculator {
    width: 20.1rem;
    background-color: #202020;
    padding: 3px 3px;
    border: 1px solid #484848d1;
    transition: all .3s;
}

.outPut {
    width: 100%;
    min-height: 8rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 20px 0px 0;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
}

/* [data-current],[data-previus] {
    position: absolute;
} */
[data-previus] {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.651);
    padding-top: 10px;
}
[data-current] {
    font-size: 43px;
    padding-bottom:10px;
}

.buttons {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    ". . . ."
    "seven eight nine delete"
    "four five six equals"
    "one two three equals" 
    "O decimale clearAll equals"
    ;
}

.zero {grid-area: O;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.equals {grid-area: equals;}
.decimale {grid-area: decimale;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.clearAll {grid-area: clearAll;}
.delete {grid-area: delete;}

.btn {
    border-radius: 0 ;
    background-color: black;
    color: white;
    padding: 19px 0;
    border: 0;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid black;
    transition: all .15s;
}
.btn:hover {
    background-color: #373737;
    border-color: #5b5b5b;
}
.btn:active {
    background-color: #474747;
    box-shadow:  0 0 3px rgba(128, 128, 128, 0.507);
    border-color: #474747;
}
.btn:focus-visible {
    outline: 2px solid rgb(60, 106, 193);
}

.js-k {
    font-size: 23px;
    background-color: rgba(0, 1, 2, 0.44);
    border: 1px solid rgba(0, 1, 2, 0.44);
}

.delete {
    font-size: 16px;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fbfbfb00;
    z-index: 1;
}

.historyContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0%;
    /* background: rgba(0, 0, 0, 0.829); */
    background: rgba(0, 0, 0, 0.88);
    transition: all .3s ease-in-out;
    overflow-y: auto;
    z-index: 2;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 22px 18px;
    opacity: 0;
    border-top: 1px solid rgb(66, 66, 66);
}

.historyContainer p {
    margin-bottom: 16px;
    letter-spacing: .5px;
    font-size: 17px;
}

.toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.historyBtn {
    color: white;
    background-color: #0000;
    padding: 7px 9px;
    font-size: 19px;
    border: 0;
    border: 1px solid rgba(128, 128, 128, 0);
    transition: border .3s, background .5s;
}

.historyBtn:hover {
    border: 1px solid rgb(88, 88, 88);
    background-color: rgba(32, 32, 32, 0.87);
}

.historyBtn:active {
    border: 1px solid rgb(88, 88, 88);
    background-color: rgba(75, 75, 75, 0.87);
}

.text {
    margin-top: 2rem;
    margin-left: 14px;
}

.single-box {
    width: 100%;
    /* background-color: ;
    background-color: ; */
    padding: 17px 25px;
    text-align: end;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .3s;
    word-wrap: break-word;
    word-break: break-all;
}

.single-box:active {
    background-color: #2b2b2b;
}

.single-box p:last-child {
    font-size: 25px;
    margin-bottom: 0;
}

.single-box span {
    width: fit-content;
    color: rgba(255, 255, 255, 0.58);
    font-size: 14px;
    /* position: absolute;
    bottom: 7px;
    left: 9px; */
    letter-spacing: .5px;
}

.single-box:not(:last-child) {
    margin-bottom: 1rem;
}

.historyContainer.active {
    height: 61%;
    opacity: 1;
}

h3 {
    margin-bottom: 1.5rem;
    color: #ddd;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: -2rem;
}

.blue {background-color: #1b2f55d1;}
.orange {background-color: #392714d1;}
.pink {background-color: #461d40d1;}
.red {background-color: #5b2323d1;}
.skyBlue {background-color: #274553d1;}
.orangeLight {background-color: #534a27d1;}
.green {background-color: #304f2ad1;}
.gray {background-color: #59595982;}